body {
    font-size: 14px;
    background: linear-gradient(to right, #27154a, #B29750);
    height: 100%;
    font-family:Oswald;
}

.rec1 {
    position: absolute;
    width: 457px;
    height: 375px;
    left: 1395px;
    top: 41px;
    background: rgba(54, 59, 88, 0.76);
    border-radius: 61px;
    z-index: 4;
}

.rec2 {
    position: absolute;
    width: 1113px;
    height: 237px;
    left: 120px;
    top: 130px;
    background: rgba(54, 59, 88, 0.76);
    border-radius: 51px;
    z-index: 4;
}

.rec3 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 120px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec4 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 120px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec5 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 989px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec6 {
    position: absolute;
    width: 1544px;
    height: 101px;
    left: 215px;
    top: 972px;
    background: rgba(217, 217, 217, 0.79);
    border-radius: 7px;
    z-index: 4;
}

.rec7 {
    position: absolute;
    width: 534px;
    height: 282px;
    left: 1253px;
    top: 2434px;
    background: #D9D9D9;
    border-radius: 31px;
    z-index: 2;
}
.rec8 {
    position: absolute;
    width: 439px;
    height: 511px;
    left: 1354px;
    top: 1919px;
    background: #D9D9D9;
    border-radius: 81px;
    z-index: 2;
}

.rec2_1 {
    position: absolute;
    width: 864px;
    height: 683px;
    left: 936px;
    top: 91px;
    background: #D9D9D9;
    border-radius: 16px;
}
.rec2_2 {
    position: absolute;
    width: 330px;
    height: 348px;
    left: 566px;
    top: 399px;
    background: #D9D9D9;
    border-radius: 37px;
}
.rec2_3 {
    position: absolute;
    width: 405px;
    height: 463px;
    left: 120px;
    top: 328px;
    background: #D9D9D9;
    border-radius: 50px;
}
.rec2_4 {
    position: absolute;
    width: 628px;
    height: 193px;
    left: 200px;
    top: 111px;
    background: #D9D9D9;
    border-radius: 15px;
}


.rec4_1 {
    position: absolute;
    width: 708px;
    height: 487px;
    left: 120px;
    top: 287px;
    background: #D9D9D9;
    border-radius: 50px;
}

.rec4_2 {
    position: absolute;
    width: 339px;
    height: 593px;
    left: 855px;
    top: 35px;
    background: #D9D9D9;
    border-radius: 37px;
}
.rec4_3 {
    position: absolute;
    width: 696px;
    height: 122px;
    left: 145px;
    top: 73px;
    background: #D9D9D9;
    border-radius: 15px;
}

.rec4_4 {
    position: absolute;
    width: 579px;
    height: 683px;
    left: 1221px;
    top: 91px;
    background: #D9D9D9;
    border-radius: 16px;
}

.rec3_1 {
    position: absolute;
    width: 733px;
    height: 295px;
    left: 307px;
    top: 17px;
    background: #D9D9D9;
    border-radius: 15px;
    z-index: 4;
}
.rec3_2 {
    position: absolute;
    width: 739px;
    height: 683px;
    left: 1061px;
    top: 91px;
    background: #D9D9D9;
    border-radius: 16px;
    z-index: 4;
}
.rec3_3 {
    position: absolute;
    width: 482px;
    height: 615px;
    left: 554px;
    top: 359px;
    background: #D9D9D9;
    border-radius: 37px;
    z-index: 4;
}
.rec3_4 {
    position: absolute;
    width: 425px;
    height: 524px;
    left: 120px;
    top: 325px;
    background: #D9D9D9;
    border-radius: 18px;
    z-index: 4;
}

.rec10_1 {
    position: absolute;
    width: 733px;
    height: 295px;
    left: 307px;
    top: 17px;
    background: rgba(30, 18, 57, 0.64);
    border-radius: 15px;
}
.rec10_2 {
    position: absolute;
    width: 425px;
    height: 524px;
    left: 120px;
    top: 325px;
    background: rgba(22, 22, 22, 0.5);
    border-radius: 18px;
}
.rec10_3 {
    position: absolute;
    width: 482px;
    height: 615px;
    left: 554px;
    top: 359px;
    background: rgba(250, 242, 246, 0.8);
    border-radius: 37px;
}
.lagann {
    position: absolute;
    width: 802px;
    height: 512px;
    left: 998px;
    top: 1264px;
    background: url("../images/398337_LzH8PYjZYU_lagann.png");
    z-index: 2;
}
.Kamina_2 {
    position: absolute;
    width: 912px;
    height: 683px;
    left: 888px;
    top: 91px;
    background: url("../images/Kamina_2.png");
    z-index: 3;
}
.Gurren_Laggan {
    position: absolute;
    width: 1113px;
    height: 797px;
    left: 120px;
    top: 1919px;
    background: url("../images/Gurren_Laggan.png");
    z-index: 2;
}
.Gurren {
    position: absolute;
    width: 681px;
    height: 512px;
    left: 120px;
    top: 1264px;
    background: url("../images/Gurren_detail.png");
    z-index: 2;
}
.pic_6{
    position: absolute;
    width: 439px;
    height: 560px;
    left: 152px;
    top: 2852px;
    background: url("../images/pic_6.png");
    z-index: 8;
}
.Gurren_dan {
    position: absolute;
    width: 264px;
    height: 198px;
    left: 957px;
    top: 2476px;
    background: url("../images/Gurren_dan.png");
    z-index: 5;
}
.v1_fone {
    position: absolute;
    width: 100%;
    height: 936px;
    left: 0px;
    top: 0px;
    background: url("../images/v1_fone.png");
    z-index: 2;
}

.Simon_6 {
    position: absolute;
    width: 760px;
    height: 668px;
    left: 1040px;
    top: 106px;
    background: url("../images/Simon_6.png");
    z-index: 10;
}

.yoko_2 {
    position: absolute;
    width: 592px;
    height: 683px;
    left: 1221px;
    top: 91px;
    background: url(../images/yoko_2.png);
    z-index: 10;
}
.Nia_2 {
    position: absolute;
    width: 595px;
    height: 669px;
    left: 1133px;
    top: 105px;
    background: url(../images/Nia_2.png);
    z-index: 10;
}
.v14_19_Lorgenom_2 {
    position: absolute;
    width: 717px;
    height: 403px;
    left: 1072px;
    top: 230px;
    background: url("../images/Lorgenom.png");
    z-index: 10;
}
.AntySpiral {
    position: absolute;
    width: 785px;
    height: 442px;
    left: 1092px;
    top: 515px;
    background: url(../images/AntySpiral.png);
    z-index: 10;
}
.fone_2 {
    position: absolute;
    width: 100%;
    height: 183px;
    left: 0px;
    top: 936px;
    background: url("../images/fone_2.png");
    z-index: 2;
}
.v37_bur {
    position: absolute;
    width: 103px;
    height: 103px;
    left: 17px;
    top: 17px;
    background: url("../images/v37_bur_2.png");
    z-index: 3;
}
.Simon {
    position: absolute;
    width: 574px;
    height: 475px;
    left: 516px;
    top: 461px;
    background: url("../images/v11_8_Simon.png");
    z-index: 5;
}
.Kamina {
    position: absolute;
    width: 330px;
    height: 493px;
    left: 987px;
    top: 442px;
    background: url("../images/v5_6_Kamina.png");
    z-index: 5;
}
.Yoko {
    position: absolute;
    width: 411px;
    height: 310px;
    left: 208px;
    top: 625px;
    background: url("../images/v12_12_Yoko.png");
    z-index: 5;
}
.Antispiralshik {
    position: absolute;
    width: 163px;
    height: 213px;
    left: 59px;
    top: 722px;
    background: url("../images/v14_18_Antispiralshik.png");
    z-index: 4;
}
.Nia {
    position: absolute;
    width: 334px;
    height: 474px;
    left: 1214px;
    top: 461px;
    background: url("../images/v13_14_Nia.png");
    z-index: 4;
}
.Lorgenom {
    position: absolute;
    width: 407px;
    height: 242px;
    left: 1445px;
    top: 694px;
    background: url("../images/v14_19_Lorgenom.png");
    z-index: 4;
}

.rec1Text {
    position: absolute;
    width: 1085px;
    height: 287px;
    left: 148px;
    top: 156px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    z-index: 6;
}
.rec2Text {
    position: absolute;
    width: 449px;
    height: 314px;
    left: 1403px;
    top: 69px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    z-index: 6;
}
.rec3Text {
    position: absolute;
    width: 176px;
    height: 53px;
    left: 128px;
    top: 1183px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 4;
}
.rec4Text {
    position: absolute;
    width: 173px;
    height: 53px;
    left: 998px;
    top: 1184px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 4;
}
.rec5Text {
    position: absolute;
    width: 1530px;
    height: 106px;
    left: 222px;
    top: 967px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 8;
}
.rec6Text {
    position: absolute;
    width: 361px;
    height: 508px;
    left: 1395px;
    top: 1934px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 8;
}
.rec7Text {
    position: absolute;
    width: 508px;
    height: 260px;
    left: 1266px;
    top: 2442px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    z-index: 8;
}
.rec2_1Text {
    position: absolute;
    width: 671px;
    height: 171px;
    left: 213px;
    top: 122px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}
.rec2_2Text {
    position: absolute;
    width: 368px;
    height: 453px;
    left: 139px;
    top: 355px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}
.rec2_3Text {
    position: absolute;
    width: 247px;
    height: 331px;
    left: 607px;
    top: 407px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.rec3_1Text {
    position: absolute;
    width: 728px;
    height: 274px;
    left: 312px;
    top: 26px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    z-index: 6;
}
.rec3_2Text {
    position: absolute;
    width: 425px;
    height: 563px;
    left: 120px;
    top: 325px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    z-index: 6;
}
.rec3_3Text {
    position: absolute;
    width: 458px;
    height: 593px;
    left: 566px;
    top: 370px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    z-index: 6;
}

.rec4_1Text {
    position: absolute;
    width: 671px;
    height: 104px;
    left: 157px;
    top: 79px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}
.rec4_2Text {
    position: absolute;
    width: 651px;
    height: 470px;
    left: 157px;
    top: 301px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}
.rec4_3Text {
    position: absolute;
    width: 311px;
    height: 561px;
    left: 870px;
    top: 54px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.rec5_1Text {
    position: absolute;
    width: 686px;
    height: 239px;
    left: 338px;
    top: 43px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    color: #000000;
    z-index: 6;
}

.rec5_2Text {
    position: absolute;
    width: 385px;
    height: 478px;
    left: 140px;
    top: 340px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    z-index: 6;
}
.rec5_3Text {
    position: absolute;
    width: 458px;
    height: 571px;
    left: 566px;
    top: 388px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    z-index: 6;
}
.noize {
    width: 1920px;
    height: 1021px;
    left: 0px;
    top: 0px;
    background: url("../images/noize.gif");
    z-index: 2;
}

.rec6_1Text {
    position: absolute;
    width: 653px;
    height: 239px;
    left: 338px;
    top: 43px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #FEEAF2;
    z-index: 6;
}
.rec6_2Text {
    position: absolute;
    width: 385px;
    height: 432px;
    left: 145px;
    top: 366px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #F6F2F3;
    z-index: 6;
}
.rec6_3Text {
    position: absolute;
    width: 458px;
    height: 572px;
    left: 568px;
    top: 371px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    z-index: 6;
}

.rec11_1Text {
    position: absolute;
    width: 717px;
    height: 234px;
    left: 319px;
    top: 43px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
    z-index: 6;
}
.rec11_2Text {
    position: absolute;
    width: 385px;
    height: 478px;
    left: 140px;
    top: 340px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    z-index: 6;
}
.rec11_3Text {
    position: absolute;
    width: 470px;
    height: 587px;
    left: 566px;
    top: 372px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    z-index: 6;
}

.row {
    position: absolute;
    left: 642px;
    top: 2806px;
}
.row_2 {
    position: absolute;
    left: 1112px;
    top: 65px;
}
