body {
    font-size: 14px;
    background: linear-gradient(to right, #27154a, #402478);
    height: 4885px;

}

.rec1 {
    position: absolute;
    width: 457px;
    height: 375px;
    left: 1395px;
    top: 41px;
    background: rgba(54, 59, 88, 0.76);
    border-radius: 61px;
    z-index: 4;
}

.rec2 {
    position: absolute;
    width: 1113px;
    height: 237px;
    left: 120px;
    top: 130px;
    background: rgba(54, 59, 88, 0.76);
    border-radius: 51px;
    z-index: 4;
}

.rec3 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 120px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec4 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 120px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec5 {
    position: absolute;
    width: 191px;
    height: 56px;
    left: 989px;
    top: 1183px;
    background: #D9D9D9;
    border-radius: 7px;
    z-index: 2;
}
.rec6 {
    position: absolute;
    width: 1544px;
    height: 101px;
    left: 215px;
    top: 972px;
    background: rgba(217, 217, 217, 0.79);
    border-radius: 7px;
    z-index: 4;
}
.lagann {
    position: absolute;
    width: 802px;
    height: 512px;
    left: 998px;
    top: 1264px;
    background: url("../images/398337_LzH8PYjZYU_lagann.png");
    z-index: 2;
}

.Gurren {
    position: absolute;
    width: 681px;
    height: 512px;
    left: 120px;
    top: 1264px;
    background: url("../images/Gurren_detail.png");
    z-index: 2;
}

.v1_fone {
    position: absolute;
    width: 100%;
    height: 936px;
    left: 0px;
    top: 0px;
    background: url("../images/v1_fone.png");
    z-index: 2;
}

.fone_2 {
    position: absolute;
    width: 100%;
    height: 183px;
    left: 0px;
    top: 936px;
    background: url("../images/fone_2.png");
    z-index: 2;
}
.v37_bur {
    position: absolute;
    width: 103px;
    height: 103px;
    left: 17px;
    top: 17px;
    background: url("../images/v37_bur_2.png");
    z-index: 3;
}
.Simon {
    position: absolute;
    width: 574px;
    height: 475px;
    left: 516px;
    top: 461px;
    background: url("../images/v11_8_Simon.png");
    z-index: 5;
}
.Kamina {
    position: absolute;
    width: 330px;
    height: 493px;
    left: 987px;
    top: 442px;
    background: url("../images/v5_6_Kamina.png");
    z-index: 5;
}
.Yoko {
    position: absolute;
    width: 411px;
    height: 310px;
    left: 208px;
    top: 625px;
    background: url("../images/v12_12_Yoko.png");
    z-index: 5;
}
.Antispiralshik {
    position: absolute;
    width: 163px;
    height: 213px;
    left: 59px;
    top: 722px;
    background: url("../images/v14_18_Antispiralshik.png");
    z-index: 4;
}
.Nia {
    position: absolute;
    width: 334px;
    height: 474px;
    left: 1214px;
    top: 461px;
    background: url("../images/v13_14_Nia.png");
    z-index: 4;
}
.Lorgenom {
    position: absolute;
    width: 407px;
    height: 242px;
    left: 1445px;
    top: 694px;
    background: url("../images/v14_19_Lorgenom.png");
    z-index: 4;
}
.rec1Text {
    position: absolute;
    width: 1085px;
    height: 287px;
    left: 148px;
    top: 156px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    z-index: 6;
}
.rec2Text {
    position: absolute;
    width: 449px;
    height: 314px;
    left: 1403px;
    top: 69px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    z-index: 6;
}
.rec3Text {
    position: absolute;
    width: 176px;
    height: 53px;
    left: 128px;
    top: 1183px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 4;
}
.rec4Text {
    position: absolute;
    width: 173px;
    height: 53px;
    left: 998px;
    top: 1184px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 4;
}
.rec5Text {
    position: absolute;
    width: 1530px;
    height: 106px;
    left: 222px;
    top: 967px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    z-index: 8;
}
.row {
    position: absolute;
    left: 381px;
    top: 1978px;
}